In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as mp
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
#loading dataset using pandas
crd = pd.read_csv(r"D:\bin\creditcard.csv\creditcard.csv")

In [3]:
#try to print first and last 10 rows of data set
crd.head(10)
crd.tail(10)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284797,172782.0,-0.241923,0.712247,0.399806,-0.463406,0.244531,-1.343668,0.929369,-0.206210,0.106234,...,-0.228876,-0.514376,0.279598,0.371441,-0.559238,0.113144,0.131507,0.081265,5.49,0
284798,172782.0,0.219529,0.881246,-0.635891,0.960928,-0.152971,-1.014307,0.427126,0.121340,-0.285670,...,0.099936,0.337120,0.251791,0.057688,-1.508368,0.144023,0.181205,0.215243,24.05,0
284799,172783.0,-1.775135,-0.004235,1.189786,0.331096,1.196063,5.519980,-1.518185,2.080825,1.159498,...,0.103302,0.654850,-0.348929,0.745323,0.704545,-0.127579,0.454379,0.130308,79.99,0
284800,172784.0,2.039560,-0.175233,-1.196825,0.234580,-0.008713,-0.726571,0.017050,-0.118228,0.435402,...,-0.268048,-0.717211,0.297930,-0.359769,-0.315610,0.201114,-0.080826,-0.075071,2.68,0
284801,172785.0,0.120316,0.931005,-0.546012,-0.745097,1.130314,-0.235973,0.812722,0.115093,-0.204064,...,-0.314205,-0.808520,0.050343,0.102800,-0.435870,0.124079,0.217940,0.068803,2.69,0
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [4]:
crd.info()
#checking the number of missing values in each cloumn
crd.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [5]:
#distribution of legit transc and fraudlent transc
crd['Class'].value_counts()

# the dataset is highly unbalanced because the distribution is 2l vs 400. 
#we cannot  feed this data to our model because it cannot predict due to less data for fraudlent data
#0    284315(valid transction)
#1       492(fraud transction)

0    284315
1       492
Name: Class, dtype: int64

In [6]:
#seperation valid vs fraud for data analysis
valid =crd [crd.Class==0]
fraud = crd [crd.Class==1]

In [7]:
#statistical measure for valid transactions
valid.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [8]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [9]:
#compare the values for valid and fraud tns

In [10]:
crd.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [11]:
#dealing with unbalance data 
#we are to take sample data
# in this we are going to build sample data from original data which is similar distribution of valid and fraud trancstions

In [12]:
#random sampling
valid_sample = valid.sample(492)

In [13]:
#concatinate
new_crd = pd.concat([valid_sample,fraud],axis =0)

In [14]:
new_crd.head(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
20122,30797.0,-0.504665,1.301989,0.681474,0.347515,0.590829,-0.937857,1.140845,-0.197092,-0.500806,...,0.056041,0.207959,-0.287271,0.012369,0.128992,-0.359892,0.221469,0.197457,0.79,0
182137,125274.0,0.446477,-2.543724,-2.478665,1.135686,-0.795688,-0.949654,1.165038,-0.456594,0.979913,...,0.246706,-0.871803,-0.516820,-0.096011,-0.387961,-0.170858,-0.158678,0.118605,820.00,0
3297,2842.0,1.150860,0.180265,0.603009,0.597152,-0.247632,-0.234163,-0.072440,0.038773,-0.020466,...,-0.177346,-0.432972,0.235190,0.096418,0.033940,0.132760,0.006164,0.015978,1.29,0
124390,77272.0,1.225909,-0.519709,0.761901,-0.903137,-1.129827,-0.349176,-0.787149,0.222467,1.817645,...,0.000061,0.140081,-0.070160,-0.014990,0.461698,-0.678526,0.079321,0.018479,1.00,0
85842,60963.0,-1.378232,-0.589812,0.678715,0.806254,1.559173,4.576617,-0.084351,1.002427,-0.278369,...,0.154302,0.411193,0.063451,1.041178,0.466699,0.054857,0.073701,0.163626,255.60,0

In [15]:
new_crd.tail(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [16]:
new_crd['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [17]:
new_crd.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,98152.873984,-0.110988,0.112737,-0.075301,-0.058600,0.092777,-0.008947,0.047905,-0.000107,-0.070022,...,-0.011533,0.035985,0.018455,0.016060,0.009856,-0.008174,-0.000789,-0.002527,0.003761,79.037927
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [18]:
#split the data into features and target
X = new_crd.drop(columns= 'Class', axis = 1)
y = new_crd['Class']

In [19]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
20122    30797.0 -0.504665  1.301989  0.681474  0.347515  0.590829 -0.937857
182137  125274.0  0.446477 -2.543724 -2.478665  1.135686 -0.795688 -0.949654
3297      2842.0  1.150860  0.180265  0.603009  0.597152 -0.247632 -0.234163
124390   77272.0  1.225909 -0.519709  0.761901 -0.903137 -1.129827 -0.349176
85842    60963.0 -1.378232 -0.589812  0.678715  0.806254  1.559173  4.576617
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
20122   1.140845 -0.197092 -0.500806  ... -0.024620  0.056041  0.207959
182137  1.165038 -0.456594  0.979913  ...  1.435888  0.246706 -0.871803
3297   -0.072440  0.038773 -0.020466  ... -0.154308 -0.177346 -0.432972
124390 -0.787149  0.222467  1.817645  ... -0.202823  0.000061  0.140081
85842  -0.084351  1.002427 -0.278369  ...  0.422532  0.154302  0.411193
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
20122  -0.287271  0.012369  0.128992 -0.359892  0.221469  0.197457    0.79
182137 -0.516820 -0.096011 -0.387961 -0.170858 -0.158678  0.118605  820.00
3297    0.235190  0.096418  0.033940  0.132760  0.006164  0.015978    1.29
124390 -0.070160 -0.014990  0.461698 -0.678526  0.079321  0.018479    1.00
85842   0.063451  1.041178  0.466699  0.054857  0.073701  0.163626  255.60
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [20]:
print(y)

20122     0
182137    0
3297      0
124390    0
85842     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [21]:
#to split the data into training data and testing data 
#random_state is to get original when u give any number
#stratify?
X_train,X_test,y_train,y_test =train_test_split(X,y,test_size= 0.2,stratify = y,random_state = 2)

In [22]:
X_train.shape

(787, 30)

In [23]:
X_test.shape

(197, 30)

In [24]:
# TRANING OUR MODEL USING LODGISTIC REGRESSION 
model = LogisticRegression()

In [25]:
model.fit(X_train,y_train)

LogisticRegression()

In [26]:
# Model evaluation based on accuracy 
X_train_predict =model.predict(X_train) 

traning_data_accuracy = accuracy_score(X_train_predict,y_train)

In [27]:
print(traning_data_accuracy)

0.9224904701397713

In [28]:
# accuracy based on s_test
X_test_predict =model.predict(X_test) 

test_data_accuracy = accuracy_score(X_test_predict,y_test)

In [29]:
print(test_data_accuracy)

0.8984771573604061